/* style.css */

/* Warna Pelangi */
:root {
  --red: #e63946;
  --orange: #f77f00;
  --yellow: #fcbf49;
  --green: #80ed99;
  --blue: #56cfe1;
  --indigo: #5e60ce;
  --violet: #b5179e;
}

body {
  margin: 0;
  font-family: 'Segoe UI', sans-serif;
  background-color: #fff;
  color: #222;
}

header {
  background: linear-gradient(to right, var(--red), var(--orange), var(--yellow), var(--green), var(--blue), var(--indigo), var(--violet));
  color: white;
  text-align: center;
  padding: 25px 0;
  font-size: 1.5em;
  font-weight: bold;
  text-shadow: 1px 1px 4px #000;
}

nav {
  display: flex;
  justify-content: center;
  background-color: #222;
  padding: 10px;
}

nav a {
  color: white;
  text-decoration: none;
  margin: 0 15px;
  font-weight: bold;
  transition: 0.3s;
}

nav a:hover {
  color: var(--yellow);
  text-shadow: 0 0 5px var(--violet);
}

main {
  padding: 20px;
  text-align: center;
}
